/* CSS declarations go here */
h4 {
	font-family: 'Righteous', cursive;
	color: white;
	padding-left: 5px;
}
.right {
	color: pink;
}
.nav-wrapper{
	background-color: #1E2528;

}
.nav-wrapper li {
	color: red;
}

.card {
	color: #1E2528;
	padding: 0;
}
* {
	box-shadow: none;
}